# Compiled binary files
*.exe
*.dll
*.so
*.dylib
*.out
*.o

# Go build artifacts
bin/

# Dependency directories (Go Modules or vendoring)
vendor/

# IDE files
.idea/
.vs/

# macOS files
.DS_Store

# Temporary files
*.swp
*.swo
*.tmp
*.bak
*~
*.log

# Test coverage files
*.test
*.test.exe
.coverage.out
cover.out